.common-input {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  width: 60%;
  margin: 5px 0;
  border: 2.5px solid #d81b60;
  transition: all 0.3s ease;
  composes: beauty from "../App.module.css";
}

.input1 {
  composes: common-input;
  background-color: #beffd6;
}

.input2 {
  composes: common-input;
  background-color: #d1bbf8;
}

.input3 {
  composes: common-input;
  background-color: #f4ea8f;
}

.common-input:focus {
  outline: none;
  border-color: #ec407a;
  box-shadow: 0 0 5px #ec407a;
}