.input1 {
  width: 60%;
  padding: 10px;
  margin: 5px 0;
  border: 3px solid #c60000;
  background-color: #ffa9a9;
  border-radius: 5px;
  font-size: 16px;
}

.input2 {
  width: 60%;
  padding: 10px;
  margin: 5px 0;
  border: 3px solid #00c635;
  background-color: #b1ffb7;
  border-radius: 5px;
  font-size: 16px;
}

.input3 {
  width: 60%;
  padding: 10px;
  margin: 5px 0;
  border: 3px solid #3f00c6;
  background-color: #a5c9f9;
  border-radius: 5px;
  font-size: 16px;
}

.input:focus {
  outline: none;
  border-color: #ec407a;
  box-shadow: 0 0 5px #ec407a;
}
