/* Задний фон всей страницы */
body {
  background: linear-gradient(to bottom right, #a0c5d6, #538faf); /* плавный градиент голубых оттенков */
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #004d40;
}

/* Основной контейнер */
.container {
  width: 350px;
  padding: 30px;
  background-color: #bdd1d9; /* нежный голубой фон */
  border-radius: 12px;
  text-align: center;
  border: 3px solid #0288d1; /* более насыщенный голубой для границы */
  box-shadow: 0 4px 10px rgba(0, 121, 107, 0.4);
}

/* Заголовок */
.title {
  font-size: 26px;
  color: #004d40;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Кнопка 1 */
.btn1 {
  background-color: #0288d1;
  color: white;
  padding: 12px 24px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn1:hover {
  background-color: #01579b;
}

/* Кнопка 2 */
.btn2 {
  background-color: #4caf50;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn2:hover {
  background-color: #388e3c;
}
