body {
  background-color: #ff9cba;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #d81b60;
}

.temp-container {
  border: 2px solid #d81b60;
  border-radius: 10px;
  background-color: #ffcadd;
  padding: 20px;
  box-shadow: 0px 5px 15px rgba(255, 105, 180, 0.3);
  text-align: center;
  width: 350px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Поле ввода */
.temp-input {
  margin-bottom: 15px;
}

.temp-input label {
  font-size: 16px;
  margin-bottom: 5px;
}

.temp-input input {
  width: 80%;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #f48fb1;
  border-radius: 5px;
  background-color: #ffdde8;
  text-align: center;
}

.temp-input input:focus {
  border-color: #d81b60;
  outline: none;
}

/* Результат */
.temp-result {
  margin-top: 10px;
}

.temp-result label {
  font-size: 16px;
  margin-bottom: 5px;
}

.temp-result input {
  width: 80%;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #f48fb1;
  border-radius: 5px;
  background-color: #ffdde8;
  text-align: center;
}
