.random-text-container {
  background-color: #fcb5c9; /* Светлый фон контейнера */
  border: 2px solid #ff69b4; /* Цвет границы */
  border-radius: 15px; /* Увеличенное скругление углов */
  padding: 30px; /* Увеличенные отступы */
  width: 450px; /* Ширина контейнера */
  text-align: center; /* Выравнивание текста по центру */
  box-shadow: 0 6px 30px rgba(255, 105, 180, 0.4); /* Мягкая тень */
  transition: transform 0.3s; /* Плавный переход при наведении */
}

.random-text-container:hover {
  transform: scale(1.02); /* Увеличение при наведении */
}

.header {
  color: #c6275c; /* Цвет заголовка */
  font-size: 26px; /* Увеличенный размер шрифта заголовка */
  margin-bottom: 25px; /* Отступ снизу */
}

.generate-button {
  background-color: #ff6f91; /* Цвет кнопки */
  color: white; /* Цвет текста кнопки */
  border: none; /* Убираем границу */
  border-radius: 10px; /* Скругление углов кнопки */
  padding: 12px 20px; /* Увеличенные отступы кнопки */
  margin: 15px; /* Отступы вокруг кнопки */
  cursor: pointer; /* Курсор при наведении */
  font-size: 16px; /* Размер шрифта кнопки */
  transition: background-color 0.3s, transform 0.3s; /* Плавные переходы для фона и трансформации */
}

.generate-button:hover {
  background-color: #ff1493; /* Цвет кнопки при наведении */
  transform: scale(1.05); /* Увеличение кнопки при наведении */
}

.text-display {
  font-size: 20px; /* Увеличенный размер текста для отображения ID */
  color: #c71585; /* Цвет текста ID */
  margin-top: 20px; /* Отступ сверху */
}
